@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section style starts here */
.banner-container {
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid red; */
    min-height: 600px;
    margin-top: 20px;
    background-image: url(../new-year-offer-resources/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    border-radius: 16px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.banner-content p {
    color: white;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.banner-content h1 {
    color: white;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

/* banner section style ends here */

/* second section starts here */

.second-section-container {
    width: 802.9px;
    height: 806px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 120px;
}

.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
}

.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 30px;
}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-container {
    width: 802.9px;
    height: 500px;
    margin-top: 50px;
}

.image-container image {
    width: 100%;
    height: 100%;
}

/* second section ends here */

/* midnight party section styles starts here */

.midnight-party-container {
    width: 1320px;
    height: 600px;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    background-image: url(../new-year-offer-resources/images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    margin-top: 100px;
}

.leftside-content {
    width: 50%;
    height: 600px;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.leftside-content h2 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-left: 60px;
}

.leftside-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 60px;
}

#midnight-btn {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 60px;
}

.rightside-content {
    width: 50%;
    height: 600px;
    /* border: 2px solid blue; */
}

.rightside-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* midnight party section styles ends here */

/* infromation style starts here */

.info-container {
    width: 1320px;
    height: 482px;
    border: 2px solid rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.info-content {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    line-height: 56px;
}

#pp {
    color: red;
}

#bb {
    border-radius: 8px;
    background: rgb(255, 0, 0);
    position: relative;
    width: 167px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border: none;
    margin-top: 60px;
}

button {
    color: white;
}

/* infromation style ends here */
/* coming soon style starts here */

.coming-container {
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
}

.leftside-content-coming {
    width: 33.33%;
    height: 100%;
}

.middle-content-coming {
    width: 33.33%;
    height: 100%;
}

.rightside-content-coming {
    width: 33.33%;
    height: 100%;
}

.leftside-content-coming h3 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 104px;
}

.leftside-content-coming h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    margin-top: 25px;
}

.leftside-content-coming p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.middle-content-coming {

    border: 15px solid red;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc-text h3 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 104px;
    margin-left: 150px;
}

.rc-text p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-left: 150px;
}

.rc-pic {
    width: 140px;
    height: 140px;
    margin-left: 150px;
    margin-top: 80px;
}


/* coming soon style ends here */
/* holiday style starts here */

.holiday-section-container {
    width: 1320px;
    height: 986.07px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
}

.holiday-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}

.holiday-text-container h5 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-text-container h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

#hh {
    color: red;
}

.holiday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.solid-color {
    width: 1320px;
    height: 229px;
    position: absolute;
    background-color: red;
    top: 77%;
    border-radius: 16px 0px 16px 16px;
}

.giftbox {
    width: 674.82px;
    height: 577.96px;
    position: absolute;
    z-index: 1;
    margin-top: 50px;
}
.discount {
    margin-left: 70%;
    margin-top: 10%;
}


/* holiday style ends here */